# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# PyCharm
*.iml
.idea/

# Virtual environments
.venv/
venv/
ENV/
env/

# OS files
.DS_Store
Thumbs.db

# Development
*.backup
*.bak

# Testing
.pytest_cache/
.coverage
htmlcov/
/.junie/
/.env
/output.log
